{% extends 'navbar.html' %}
{% load static %}
   <!-- body -->
   {% block content  %}
   <body class="main-layout inner_page about_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="{% static 'images/loading.gif'%}" alt="#"/></div>
      </div>
      <!-- end loader -->
     
      <!-- work -->
      <div class="work">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center ">
                     <h2>About Us</h2>
                     <p>We have a world-class team of programmers, web developers ready to serve your needs. Your satisfaction is our priority.  </p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="margi_bottom30">
                     <div class="row d_flex grid">
                        <div class=" col-md-6 marg_left">
                           <div id="ho_img" class="work_img">
                              <figure><img src="{% static 'images/work1.jpg'%}" alt="#"/></figure>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="work_box">
                              <h3>Website Design</h3>
                              <p>That beautful website you have always dreamed of having can be yours with our service. It can small or large scale. </p>
                              
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="margi_bottom30">
                     <div class="row d_flex">
                        <div class="col-md-6">
                           <div class="work_box">
                              <h3>Website Development</h3>
                              <p>We can create stunning, beautiful web apps for you. You just request and we deliver</p>
                              
                           </div>
                        </div>
                        <div class=" col-md-6 marg_right order">
                           <div id="ho_img" class="work_img">
                              <figure><img src="{% static 'images/work2.jpg'%}" alt="#"/></figure>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end work -->
      <!--  footer -->
{% endblock content  %}